services:
  # PostgreSQL Database
  db:
    image: postgres:15
    container_name: risk_db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: risk_db
    ports:
      - "5432:5432"
    volumes:
      - ./sql/schema.sql:/docker-entrypoint-initdb.d/init.sql
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U user -d risk_db" ]
      interval: 5s
      timeout: 5s
      retries: 5

  # MLflow Tracking Server
  mlflow:
    image: ghcr.io/mlflow/mlflow:v2.19.0
    container_name: risk_mlflow
    ports:
      - "5050:5000"
    volumes:
      - mlflow_data:/mlflow
    command: >
      mlflow server  --backend-store-uri sqlite:///mlflow/mlflow.db  --default-artifact-root /mlflow/artifacts  --host 0.0.0.0

  # FastAPI Backend
  api:
    build:
      context: .
      dockerfile: docker/Dockerfile.api
    container_name: risk_api
    ports:
      - "8000:8000"
    volumes:
      - ./models:/app/models
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=user
      - DB_PASSWORD=password
      - DB_NAME=risk_db
      - MLFLOW_TRACKING_URI=http://mlflow:5000
    depends_on:
      db:
        condition: service_healthy

  # Streamlit Frontend
  ui:
    build:
      context: .
      dockerfile: docker/Dockerfile.ui
    container_name: risk_ui
    ports:
      - "8501:8501"
    environment:
      - API_URL=http://api:8000
    depends_on:
      - api

volumes:
  postgres_data:
  mlflow_data:
